ul {
  margin: 0;
  list-style: none;
  padding: 0;
}
a {
  text-decoration: none;
  font-style: none;
  text-transform: capitalize;
}
a:hover {
  text-decoration: none;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
header {
  background-color: #084c55;
  width: 100%;
}
.inner {
  max-width: 1200px;
  min-width: 250px;
  margin: 0 auto;
}
html {
  font-size: 16px;
}
