header {
  height: 12vh;
}
header .bike-logo {
  display: block;
}

header .navbar {
  padding: 0;
}
header .navbar-nav {
  position: absolutes;
  width: 100%;
  display: flex;
  z-index: 1000;
}
header .nav-item {
  text-align: center;
  flex-grow: 1;
}
.menu .submenu {
  color: white;
  cursor: pointer;
  outline: none;
  transition: all 0.5s;
  display: block;
  font-size: 1rem;
  text-transform: capitalize;
  display: block;
  line-height: 40px;
}
.nav-link.active,
.submenu:hover {
  background-color: #50db69;
  font-weight: bolder;
}
.swiper-container {
  width: 100%;
  margin: 0 auto;
  height: 100%;
}

footer {
  border-top: 1.5px solid #084c55;
  width: 100%;
  border-bottom: 1px solid#084c55;
}
footer img {
  display: block;
  height: 8vh;
  padding: 0 5%;
  border-right: 1.5px solid #01353b1c;
  width: 100%;
}
footer .download {
  display: flex;
}

footer ul {
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  flex-direction: row-reverse;
  margin-bottom: 0;
  padding: 0;
}
footer ul li {
  width: 33%;
  text-align: center;
  border-right: 1.5px solid #01353b1c;
}
footer ul a {
  display: block;
  color: #084c55;
  line-height: 8vh;
  font-size: 1.5rem;
  widows: 100%;
  text-align: center;
}

.navbar-brand {
  width: 60%;
}
.navbar-brand img {
  display: block;
  height: 10vh;
}
header .navbar-collapse {
  background-color: #084c55;
  z-index: 100;
}
.col,
.col-1,
.col-10,
.col-11,
.col-12,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-auto,
.col-lg,
.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-auto,
.col-md,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-auto,
.col-sm,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-auto,
.col-xl,
.col-xl-1,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-auto {
  position: relative;
  width: 100%;
  padding-right: 0;
}
footer .outlink {
  flex-grow: 1;
  padding: 0;
}
footer .contactus {
  background-color: #084c55;
  line-height: 8vh;
  flex-grow: 0;
  text-align: center;
}
.contactus a {
  color: white;
  font-weight: bold;
  font-size: 16px;
  display: block;
  width: 100%;
}
